<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tr.guvencmakina.guvencapp">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:name="com.tr.guvencmakina.guvencapp.Welcome.ui.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tr.guvencmakina.guvencapp.Auth.UI.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tr.guvencmakina.guvencapp.Auth.UI.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tr.guvencmakina.guvencapp.Dashboard.ui.MainActivity"
            android:label="@string/dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name="com.tr.guvencmakina.guvencapp.Settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.SubTheme"></activity>
        <activity
            android:name="com.tr.guvencmakina.guvencapp.Products.ui.activities.ProductsStepperActivity"
            android:label="@string/add_product"
            android:theme="@style/AppTheme.SubTheme"></activity>
        <activity
            android:name="com.tr.guvencmakina.guvencapp.Products.ui.activities.ProductCategoryStepperActivity"
            android:label="@string/add_category"
            android:theme="@style/AppTheme.SubTheme"></activity>
        <activity
            android:name=".Products.ui.activities.AddProductCategoryImage"
            android:label="@string/add_category_image"
            android:theme="@style/AppTheme.SubTheme"></activity>
        <activity
            android:name=".Products.ui.activities.AddProductCategoryName"
            android:label="@string/add_category_name"
            android:theme="@style/AppTheme.SubTheme"></activity>
        <activity
            android:name=".Products.ui.activities.AddProductDetailsActivity"
            android:label="@string/add_product_details"
            android:theme="@style/AppTheme.SubTheme"></activity>
        <activity
            android:name=".Products.ui.activities.AddProductImage"
            android:label="@string/add_product_image"
            android:theme="@style/AppTheme.SubTheme"></activity>
        <activity
            android:name=".Products.ui.activities.ProductsActivity"
            android:label="@string/products"
            android:theme="@style/AppTheme.SubTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".Products.ui.activities.AllProductsActivity"
            android:label="@string/all_products"
            android:theme="@style/AppTheme.SubTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".Products.ui.activities.ProductDetailsActivity"
            android:label="@string/product_details"
            android:theme="@style/AppTheme.SubTheme"></activity>
        <activity
            android:name=".Products.ui.activities.ProductLocationMapActivity"
            android:label="@string/product_location"
            android:theme="@style/AppTheme.SubTheme"></activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>